<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dut_type</key>
	<string>--</string>
	<key>isWaveNeed</key>
	<true/>
	<key>isDebug</key>
	<false/>
	<key>number</key>
	<string>10</string>
	<key>sleepTime</key>
	<string>0.2</string>
	<key>fixture_id</key>
	<string>000001</string>
	<key>fixture_uart_baud</key>
	<integer>115200</integer>
	<key>fixture_uart_port_name1</key>
	<string>/dev/cu.usbserial-A9M91FZ3</string>
	<key>fixture_uart_port_name</key>
	<string>/dev/cu.usbserial-EW-FIX</string>
	<key>fixture_uart_dataBit</key>
	<string>8</string>
	<key>fixture_uart_parity</key>
	<string>none</string>
	<key>fixture_uart_stopBit</key>
	<string>1</string>
	<key>humiture_uart_baud</key>
	<string>9600</string>
	<key>humiture_uart_port_name</key>
	<string>/dev/cu.usbserial-EW-DMM</string>
	<key>humiture_uart_dataBit</key>
	<string>8</string>
	<key>humiture_uart_parity</key>
	<string>115200</string>
	<key>humiture_uart_stopBit</key>
	<string>1</string>
	<key>sw_name</key>
	<string>Emerald_DMM1</string>
	<key>sw_ver</key>
	<string>V1.0.3DMM1</string>
	<key>s_build</key>
	<string>--</string>
	<key>thdn</key>
	<integer>5</integer>
	<key>station</key>
	<string>--</string>
	<key>stationID</key>
	<string>--</string>
	<key>fixtureID</key>
	<string>--</string>
	<key>lineNO</key>
	<string>--</string>
	<key>waveFrequence</key>
	<string>1000</string>
	<key>waveOffset</key>
	<string>0</string>
	<key>waveVolt</key>
	<string>0.8</string>
	<key>zin_Offset</key>
	<string>0</string>
	<key>Er_Zin_RES</key>
	<string>5</string>
	<key>differentSNArray</key>
	<array>
		<string>J8M7</string>
		<string>J5P1</string>
	</array>
</dict>
</plist>
