<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllItems</key>
	<array>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string></string>
			<key>TimeOut</key>
			<string>500</string>
			<key>TimeDelay</key>
			<string>0</string>
			<key>RetryTimes</key>
			<string>0</string>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>RF-1a</string>
			<key>Units</key>
			<string>V</string>
			<key>Min</key>
			<string>1.485</string>
			<key>Max</key>
			<string>1.515</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string></string>
			<key>TimeOut</key>
			<string>500</string>
			<key>TimeDelay</key>
			<string>0</string>
			<key>RetryTimes</key>
			<string>0</string>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>RF-1b</string>
			<key>Units</key>
			<string>V</string>
			<key>Min</key>
			<string>1.485</string>
			<key>Max</key>
			<string>1.515</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string></string>
			<key>TimeOut</key>
			<string>500</string>
			<key>TimeDelay</key>
			<string>0</string>
			<key>RetryTimes</key>
			<string>0</string>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>RF-1a</string>
			<key>Units</key>
			<string>V</string>
			<key>Min</key>
			<string>1.485</string>
			<key>Max</key>
			<string>1.515</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string></string>
			<key>TimeOut</key>
			<string>500</string>
			<key>TimeDelay</key>
			<string>0</string>
			<key>RetryTimes</key>
			<string>0</string>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>RF-1a</string>
			<key>Units</key>
			<string>V</string>
			<key>Min</key>
			<string>1.485</string>
			<key>Max</key>
			<string>1.515</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string></string>
			<key>TimeOut</key>
			<string>500</string>
			<key>TimeDelay</key>
			<string>0</string>
			<key>RetryTimes</key>
			<string>0</string>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>RF-1a</string>
			<key>Units</key>
			<string>V</string>
			<key>Min</key>
			<string>1.485</string>
			<key>Max</key>
			<string>1.515</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string></string>
			<key>TimeOut</key>
			<string>500</string>
			<key>TimeDelay</key>
			<string>0</string>
			<key>RetryTimes</key>
			<string>0</string>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>RF-1a</string>
			<key>Units</key>
			<string>V</string>
			<key>Min</key>
			<string>1.485</string>
			<key>Max</key>
			<string>1.515</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string></string>
			<key>TimeOut</key>
			<string>500</string>
			<key>TimeDelay</key>
			<string>0</string>
			<key>RetryTimes</key>
			<string>0</string>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>RF-1a</string>
			<key>Units</key>
			<string>V</string>
			<key>Min</key>
			<string>1.485</string>
			<key>Max</key>
			<string>1.515</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string></string>
			<key>TimeOut</key>
			<string>500</string>
			<key>TimeDelay</key>
			<string>0</string>
			<key>RetryTimes</key>
			<string>0</string>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>RF-1a</string>
			<key>Units</key>
			<string>V</string>
			<key>Min</key>
			<string>1.485</string>
			<key>Max</key>
			<string>1.515</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string></string>
			<key>TimeOut</key>
			<string>500</string>
			<key>TimeDelay</key>
			<string>0</string>
			<key>RetryTimes</key>
			<string>0</string>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>RF-1a</string>
			<key>Units</key>
			<string>V</string>
			<key>Min</key>
			<string>1.485</string>
			<key>Max</key>
			<string>1.515</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
