<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllItems</key>
	<array>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string>U_SF_1a</string>
			<key>TimeOut</key>
			<integer>500</integer>
			<key>TimeDelay</key>
			<integer>0</integer>
			<key>RetryTimes</key>
			<integer>0</integer>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>SF_1a</string>
			<key>Units</key>
			<string>GΩ</string>
			<key>Min</key>
			<string>10</string>
			<key>Max</key>
			<string></string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<string>--</string>
			<key>Command</key>
			<string>U_SF_1b</string>
			<key>TimeOut</key>
			<integer>500</integer>
			<key>TimeDelay</key>
			<integer>0</integer>
			<key>RetryTimes</key>
			<integer>0</integer>
			<key>Device</key>
			<string>Fixture</string>
			<key>TestName</key>
			<string>SF_1b</string>
			<key>Units</key>
			<string>MΩ</string>
			<key>Min</key>
			<string>4.1</string>
			<key>Max</key>
			<string>6</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
