<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllItems</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>SF_1a</string>
			<key>RetryTimes</key>
			<integer>0</integer>
			<key>Units</key>
			<string>GOHM</string>
			<key>Min</key>
			<string>10</string>
			<key>Max</key>
			<string>20</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Test RES</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>U_SF_1a</string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>SF-1a RES</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>DC Volt</string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>PASS</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read SF-1a Volt</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>PASS</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>SF_1b</string>
			<key>RetryTimes</key>
			<integer>0</integer>
			<key>Units</key>
			<string>MOHM</string>
			<key>Min</key>
			<string>4.1</string>
			<key>Max</key>
			<string>6</string>
			<key>Value</key>
			<string>--</string>
			<key>Result</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>Test SF_1b</string>
					<key>TestDevice</key>
					<string>WaveDevice</string>
					<key>TestCommand</key>
					<string>MODE_Sine</string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Send SF-1b command</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>U_SF_1b</string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>SF-1b Volt</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>AC Volt</string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>PASS</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read SF-1b Volt</string>
					<key>TestDevice</key>
					<string>Agilent</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>PASS</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
