<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dut_type</key>
	<string>Test5</string>
	<key>fixture_id</key>
	<string>000001</string>
	<key>fixture_uart_baud</key>
	<integer>115200</integer>
	<key>fixture_uart_port_name</key>
	<string>//dev//cu.usbserial-FTDI123</string>
	<key>fixture_uart_dataBit</key>
	<string>8</string>
	<key>fixture_uart_parity</key>
	<string>none</string>
	<key>fixture_uart_stopBit</key>
	<string>1</string>
	<key>humiture_uart_baud</key>
	<string>9600</string>
	<key>humiture_uart_port_name</key>
	<string>//dev//cu.usbserial-HUMI</string>
	<key>humiture_uart_dataBit</key>
	<string>8</string>
	<key>humiture_uart_parity</key>
	<string>none</string>
	<key>humiture_uart_stopBit</key>
	<string>1</string>
	<key>sw_name</key>
	<string>EW_BT_MIC_SPK</string>
	<key>sw_ver</key>
	<string>V02</string>
	<key>thdn</key>
	<integer>5</integer>
	<key>ui_title</key>
	<string>software test</string>
	<key>ui_versiom</key>
	<string>V1.0.0.9</string>
	<key>station</key>
	<string>1</string>
	<key>stationID</key>
	<string>123</string>
	<key>fixtureID</key>
	<string>11111111</string>
	<key>lineNO</key>
	<string>99999</string>
	<key>csv_path</key>
	<string>/vault/Test5/</string>
	<key>SocketConfig</key>
	<dict>
		<key>Port</key>
		<string>8888</string>
		<key>IP</key>
		<string>127.0.0.1</string>
	</dict>
	<key>ServerFC</key>
	<dict>
		<key>Server_IP</key>
		<string>10.12.5.70</string>
		<key>BDAServer_IP</key>
		<string>10.12.5.70</string>
		<key>Net_Port</key>
		<string>80</string>
		<key>C</key>
		<string>ADD_RECORD</string>
		<key>Station_Name</key>
		<string>ZR-MLB-FCT1</string>
		<key>Front_StationName</key>
		<string>ZR-MLB-ICT</string>
		<key>Next_StationName</key>
		<string>ZR-BT-COND</string>
		<key>Product</key>
		<string>A211</string>
	</dict>
</dict>
</plist>
